# Directories
/node_modules/
/data/
/docs/
/database/

# File Extensions
*.log
*.txt
*.sqlite

# Specific Files
package-lock.json
settings.json
config.json
config.js

# Asset Files

# Commands

# Monitors

# Functions
