# Directories
/node_modules/
/data/
/docs/
/database/
/.vscode/
/.idea/
database
./database
/database

# File Extensions
*.log
*.txt
*.sqlite
*.env

# Specific Files
package-lock.json
settings.json
config.json
config.js
feedbot.sqlite